In [1]:
import pandas as pd 
  
# read a csv file 
df = pd.read_csv('D:\\Example.csv') 
  
# show the dataframe 
print(df)

     name  class    total marks
0   Mukul     12            454
1   Rohan     12            433
2  Shivam     11  not available
3   Ragav     11            NaN
4    Monu     10            456

# data cleaning

In [2]:
import pandas as pd 
  
# read a csv file 
df = pd.read_csv('D:\\Example.csv',  
                 na_values = "not available") 
  
# show the dataframe 
print(df)

     name  class  total marks
0   Mukul     12        454.0
1   Rohan     12        433.0
2  Shivam     11          NaN
3   Ragav     11          NaN
4    Monu     10        456.0

In [5]:
import pandas as pd
df = pd.DataFrame({'X':[78,85,96,80,86], 'Y':[84,94,89,83,86],'Z':[86,97,96,72,83]});
print(df)

    X   Y   Z
0  78  84  86
1  85  94  97
2  96  89  96
3  80  83  72
4  86  86  83

In [6]:
import pandas as pd
import numpy as np

exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data)
print(df)
print("Select specific columns and rows:")
print(df.iloc[[1, 3, 5, 6], [1, 3]])

        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes
3      James    NaN         3      no
4      Emily    9.0         2      no
5    Michael   20.0         3     yes
6    Matthew   14.5         1     yes
7      Laura    NaN         1      no
8      Kevin    8.0         2      no
9      Jonas   19.0         1     yes
Select specific columns and rows:
   score qualify
1    9.0      no
3    NaN      no
5   20.0     yes
6   14.5     yes

In [7]:
import pandas as pd
import numpy as np

exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts' : [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data , index=labels)
print("Number of attempts in the examination is greater than 2:")
print(df[df['attempts'] > 2])

Number of attempts in the examination is greater than 2:
      name  score  attempts qualify
b     Dima    9.0         3      no
d    James    NaN         3      no
f  Michael   20.0         3     yes

In [8]:

print("Rows where score is missing:")
print(df[df['score'].isnull()])

Rows where score is missing:
    name  score  attempts qualify
d  James    NaN         3      no
h  Laura    NaN         1      no

In [9]:

print("Rows where score between 15 and 20 (inclusive):")
print(df[df['score'].between(15, 20)])

Rows where score between 15 and 20 (inclusive):
        name  score  attempts qualify
c  Katherine   16.5         2     yes
f    Michael   20.0         3     yes
j      Jonas   19.0         1     yes

In [10]:

print("Number of attempts in the examination is less than 2 and score greater than 15 :")
print(df[(df['attempts'] < 2) & (df['score'] > 15)])

Number of attempts in the examination is less than 2 and score greater than 15 :
    name  score  attempts qualify
j  Jonas   19.0         1     yes

In [11]:
df = pd.DataFrame(exam_data , index=labels)
print("\nOriginal data frame:")
print(df)
print("\nChange the score in row 'd' to 11.5:")
df.loc['d', 'score'] = 11.5
print(df)

Original data frame:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

Change the score in row 'd' to 11.5:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James   11.5         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [12]:

print("\nSum of the examination attempts by the students:")
print(df['attempts'].sum())

Sum of the examination attempts by the students:
19

In [13]:

print("\nMean score for each different student in data frame:")
print(df['score'].mean())

Mean score for each different student in data frame:
13.333333333333334

In [14]:
print(df['score'].std())

4.444097208657795

In [14]:

print("Original rows:")
print(df)
print("\nAppend a new row:")
df.loc['k'] = [1, 'Suresh', 'yes', 15.5]
print("Print all records after insert a new record:")
print(df)
print("\nDelete the new row and display the original  rows:")
df = df.drop('k')
print(df)

Original rows:
        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes
3      James    NaN         3      no
4      Emily    9.0         2      no
5    Michael   20.0         3     yes
6    Matthew   14.5         1     yes
7      Laura    NaN         1      no
8      Kevin    8.0         2      no
9      Jonas   19.0         1     yes

Append a new row:
Print all records after insert a new record:
        name   score attempts qualify
0  Anastasia    12.5        1     yes
1       Dima       9        3      no
2  Katherine    16.5        2     yes
3      James     NaN        3      no
4      Emily       9        2      no
5    Michael      20        3     yes
6    Matthew    14.5        1     yes
7      Laura     NaN        1      no
8      Kevin       8        2      no
9      Jonas      19        1     yes
k          1  Suresh      yes    15.5

Delete the new row and display the original  rows:
        name score attempts qualify
0  Anastasia  12.5        1     yes
1       Dima     9        3      no
2  Katherine  16.5        2     yes
3      James   NaN        3      no
4      Emily     9        2      no
5    Michael    20        3     yes
6    Matthew  14.5        1     yes
7      Laura   NaN        1      no
8      Kevin     8        2      no
9      Jonas    19        1     yes

In [17]:
print("Orginal rows:")
print(df)
df1=df.sort_values(by=['name', 'score'], ascending=[False, True])
print("Sort the data frame first by ‘name’ in descending order, then by ‘score’ in ascending order:")
print(df1)

Orginal rows:
        name score attempts qualify
5    Michael    20        3     yes
6    Matthew  14.5        1     yes
7      Laura   NaN        1      no
8      Kevin     8        2      no
2  Katherine  16.5        2     yes
9      Jonas    19        1     yes
3      James   NaN        3      no
4      Emily     9        2      no
1       Dima     9        3      no
0  Anastasia  12.5        1     yes
Sort the data frame first by ‘name’ in descending order, then by ‘score’ in ascending order:
        name score attempts qualify
5    Michael    20        3     yes
6    Matthew  14.5        1     yes
7      Laura   NaN        1      no
8      Kevin     8        2      no
2  Katherine  16.5        2     yes
9      Jonas    19        1     yes
3      James   NaN        3      no
4      Emily     9        2      no
1       Dima     9        3      no
0  Anastasia  12.5        1     yes

In [ ]:

print("Original rows:")
print(df)
print("\nReplace the 'qualify' column contains the values 'yes' and 'no'  with True and  False:")
df['qualify'] = df['qualify'].map({'yes': True, 'no': False})
print(df)

In [18]:
print("Original rows:")
print(df)
print("\nChange the name 'James' to ‘Suresh’:")
df['name'] = df['name'].replace('James', 'Suresh')
print(df)

Original rows:
        name score attempts qualify
5    Michael    20        3     yes
6    Matthew  14.5        1     yes
7      Laura   NaN        1      no
8      Kevin     8        2      no
2  Katherine  16.5        2     yes
9      Jonas    19        1     yes
3      James   NaN        3      no
4      Emily     9        2      no
1       Dima     9        3      no
0  Anastasia  12.5        1     yes

Change the name 'James' to ‘Suresh’:
        name score attempts qualify
5    Michael    20        3     yes
6    Matthew  14.5        1     yes
7      Laura   NaN        1      no
8      Kevin     8        2      no
2  Katherine  16.5        2     yes
9      Jonas    19        1     yes
3     Suresh   NaN        3      no
4      Emily     9        2      no
1       Dima     9        3      no
0  Anastasia  12.5        1     yes

In [ ]:

print("Original rows:")
print(df)
print("\nDelete the 'attempts' column from the data frame:")
df.pop('attempts')
print(df)

In [ ]:
df = pd.DataFrame(exam_data , index=labels)
print("Original rows:")
print(df)
color = ['Red','Blue','Orange','Red','White','White','Blue','Green','Green','Red']
df['color'] = color
print("\nNew DataFrame after inserting the 'color' column")
print(df)